<% if (messages.error) { %>
    <%= messages.error %>
  <% } %>
  
  <!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Dashboard</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
      <link rel="stylesheet" href="stylesheets/style.css">
      <link rel='stylesheet' href='stylesheets/home.css'>
      <script src="main.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="container">
        <div>
            <h2 id="title">
                Main Room
            </h2>
            <script type="text/javascript">
                function getUrlVars() {
                  var vars = {};
                  var url = decodeURIComponent(window.location.href.replace(/\+/g, '%20'));
                  var parts = url.replace(/[?&]+([^=&]+)=([^&]*)/gi, 
                        function(m,key,value) {
                    vars[key] = value;
                  });
                  return vars;
                }              
                var text = getUrlVars()["roomID"];
                if(text == null){
                    document.getElementById("title").innerHTML = "Main Room";
                } else {
                    document.getElementById("title").innerHTML = text;
                }                
              </script>
        </div>
        <div style="color: white;">
            <p style="font-style: italic;">No. of person in the room</p>
            <h1 class="numeral">3</h1>
        </div>
        <div style="color: white;" class="row align-items-start">
            <p>Current Light Status: {on/off}</p>
        </div>
        <div style="color: white;" class="row align-items-start">
            <form id="light-control">
                <legend for="lightSwitch">Status</legend>
                <fieldset id="lightSwitch">
                  <label> </label><input type="radio" value="0" name="lightSwitch"> ON </label>
                  <label> <input type="radio" value="1" name="lightSwitch"> OFF </label>
                  <label> <input type="radio" value="2" name="lightSwitch"> AUTO </label>
                </fieldset>
                <legend for="brightness">Brightness</legend>
                <input type="range" name="brightness" min="0" max="100" value="50" step="10">
            </form>
            <br><br>
            <script>
                $('#light-control').change(function() {
                    console.log($(this).serialize())
                    $.post("/light-mode", $(this).serialize())
                });
            </script>
        </div>
        <div class="control control--switch">
            <label for="">Energy Saving mode</label>
            <input type="checkbox" class="switch" id="mode-switch" name="mode-switch" />
            <label for="mode-switch"></label>
        </div>
        <br>
        <form action="/home">
            <input type="submit" value="Back To Home Page" />
        </form>                   
    </div>        

  </body>
  </html>
