* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    font-size: large;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: min(600px, 90%);
    height: min(400px, 50%);
}

.form {
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav-tabs ~ .form {
    border-top: none;
}

.form-control {
    width: 90%;
    height: 2em;
    font-size: large;
}