* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    font-size: large;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: min(600px, 90%);
    height: min(400px, 50%);
}

.form {
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav-tabs ~ .form {
    border-top: none;
}

.form-control {
    width: 90%;
    height: 2em;
    font-size: large;
}

.button {
    background: rgba(103, 160, 207, 0.7);
    width: 280px;
    padding: 4px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    text-align: center;
}

.button a {
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
.button:hover {
cursor: pointer;
}
.button:after {
content: "";
display: block;
position: absolute;
width: 100%;
height: 10%;
border-radius: 50%;
background-color: #927608;
opacity: 0.4;
bottom: -30px;
}
.button p {
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

.grid-container {
    display: grid;
    justify-content: space-evenly;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


